@use "sass:map";
@use "../utils/variables" as *;

.navbar__container {
    align-items: center;
    background-color: $strong-secondary-color;
    box-shadow: 2px 2px 8px 1px $superlight-primary-color;
    display: flex;
    min-height: 6rem;
    top: 0;
    color:$white-color;
    border-radius: 1rem;
    z-index: 2;
    .navbar__navigation {
        ul {
            display: flex;
            gap: 1rem;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: $white-color;
                    &:hover {
                        color: $strong-primary-color;
                    }
                }
            }
        }
        @media screen and (max-width: map.get($grid-breakpoints, md)) {
            display: none;
        }
    }
    .navbar__menu-mobile {
        display: flex;
        align-items: center;
        gap: 1rem;
        @media screen and (min-width: map.get($grid-breakpoints, md)) {
            display: none;
        }
        .navbar__menu-button {
            background-color: transparent;
            border: 2px solid $primary-color;
            border-radius: 0.5rem;
            color: $white-color;
            padding: 0.5rem;
        }
    }
}

.navbar_container {
  position: relative;
  background-color: $navbar-bg-color;
  padding: 1.5rem 3rem;
  border: 6px double $strong-primary-color;
  box-shadow: $box-shadow-4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}

.navbar__drawer-menu {
    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: $white-color;
                &:hover {
                    color: $strong-primary-color;
                };
                &:visited {
                    color: $white-color;
                }
            }
        }
    }
}