@use "../utils/variables" as *;

body {
    background-color: $body-bg-color;
    margin: 0;
    position: relative;
}

main {
    min-height: calc(100vh - (4.5rem + 2rem + 64px));
    margin: auto;
    text-align: center;
}

a {
    color: unset;
    text-decoration: none;
}

h1, h3, h2 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
img {
    max-width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 10px;
    

}

p {
    font-size: 1.5rem; 

}