@use "../utils/variables" as *;

body {
    background-color: $body-bg-color;
    margin: 0;
    position: relative;
}

main {
    min-height: calc(100vh - (4.5rem + 2rem + 64px));
    margin: auto;
    text-align: center;
}

a {
    color: unset;
    text-decoration: none;
}

h1, h3, h2 {
    display: flex;
    justify-content: center;
}